
.item{
    display: grid;
    grid-template-columns: repeat(100, auto);
}
.item1{
    border: 1px solid rgb(197, 209, 250);
    border-right: none;
    border-bottom: none;
}
.item:last-child{
    border-bottom: 1px solid rgb(197, 209, 250);
}

